@font-face {
    font-family: pixel;
    src: url(../font/LLPIXEL3.ttf);
}

body {
  position: relative;
  height: 100vh;
}


.clock {
  font-family: pixel;
  font-size: 5em;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
