@font-face {
    font-family: pixel;
    src: url(../font/LLPIXEL3.ttf);
}

body {
  position: relative;
  height: 100vh;
}

.clock {
  font-family: pixel;
  font-size: 5em;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  border: solid 1em white;
  border-radius: 50%;
  height: 30em;
  width: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.box {
  height: 50px;
  background: rgba(255, 255, 255, .2);
  transition: height 1s;
}
